body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E5E5E5;
}
/* Main page */
.main1 {
    display: flex;
    flex-direction: row-reverse;
    
    width: 1200px;
    margin: 0 auto;
}
/* Content */
.cont {
    background-color: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 1);
    padding: 105px 90px;
}
.cont h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
/* Who am I? Block */
.whoAmI {
    margin-bottom: 40px;
}

.whoAmI h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}

.whoAmI h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.whoAmI p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 400px;
}
/* Projects */
.projects {
    margin-bottom: 50px;
}
.links {
    margin-left: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects span {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.projects ol {
    padding: 0;
    margin-left: 15px;
}

.projects a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.pro-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/* Work Experience */
.work h4{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 10px;
}
.work p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}
.work ul {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding: 0;
    margin-left: 15px;
}
.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.comp {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}
.comp3 {
    margin-bottom: 40px;
}
/* Education */
.edu h3 {
    margin-bottom: 12px;
}
.edu h4 {
    margin-top: 12px;
    margin-bottom: 12px;
}
.edu h5 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 12px;
    margin-bottom: 12px;
}

.edu p {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 12px;
}
.educ {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
    margin-bottom: 12px;
}
/* Sidebar */
aside {
    background-color: #1E2939;
    padding-top: 40px;
    width: 370px;
}
/* Sidebar image */
aside img {
    width: 370px;
    height: 354px;
    margin-bottom: 50px;
}
/* Sidebars titles */
aside h3 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    margin-bottom: 10px;
}
/* Sidebar contacts */
.contacts {
    margin-bottom: 50px;
}
.contacts a {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
    margin-left: 10px;
}
/* Contacts letters E, C */
.letters-ce {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
/* Sidebar Tech and Soft Skills */
.sidebar-objects {
    margin-left: 40px;
}
.sidebar-objects ul {
    color: #FFFFFF;
    padding: 0;
    margin-left: 17px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.skills-item {
    color: #FB6D3A;
}
.tech-skills-text {
    color: #FFFFFF;
    
}
.soft-skills-text {
    color: #FFFFFF;
}

.tech-skills {
    margin-bottom: 45px;
}
